<div class="col-sm-12 col-md-8">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget vehicula velit. Praesent rhoncus justo malesuada dui elementum iaculis. Proin non ipsum euismod, tristique elit et, varius urna. Curabitur vitae purus lectus. Donec lobortis arcu ut elit egestas vestibulum. Pellentesque cursus porta ullamcorper. Suspendisse vulputate dui quis leo sagittis, nec dignissim nisl tempor. Sed scelerisque odio lobortis lectus aliquet sagittis. Integer sit amet ante vulputate, dapibus ipsum ut,
  dictum arcu. Fusce luctus lectus id posuere commodo. Integer egestas felis et iaculis iaculis.</p>

  <p>Nulla ipsum enim, commodo id scelerisque id, semper sed felis. Sed facilisis suscipit velit, nec interdum tellus interdum non. Pellentesque augue diam, aliquet sed scelerisque ac, auctor ac urna. Phasellus ac pellentesque neque, eu lacinia erat. Phasellus eu orci sit amet eros varius auctor non eget dolor. Morbi finibus ultricies sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum eros sem, pellentesque id sem nec, suscipit vestibulum dolor. Phasellus hendrerit arcu ac eleifend congue. Morbi commodo condimentum tempor. Suspendisse eleifend blandit tortor quis viverra. Nulla ultricies ligula vel tortor tristique, non iaculis quam tincidunt. Vivamus non commodo lorem, eget ultricies orci.</p>
</div>
<div class="col-sm-12 col-md-4">
  <div class="thumbnail">
    <img alt="100%x200" data-src="holder.js/100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2NWI3Mzg1YTkgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTY1YjczODVhOSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
  </div>

  <h4>$9.99</h4>
  <a class="btn btn-primary" href="#">Buy now</a>
</div>
